includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - config/
        - database/
        - routes/

    # Level 9 is the highest level
    level: 7

    ignoreErrors:
        -
            message: '#Property .* does not exist in model\.#'
            path: app/Models/File.php
            reportUnmatched: false
        -
            message: '#PHPDoc tag @var with type array<string, string> is not subtype of native type Laravel\\Ai\\Responses\\AgentResponse\.#'
            path: app/Http/Controllers/Ai/ExcerptController.php
            reportUnmatched: false
