includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - config/
        - database/
        - routes/

    # Level 9 is the highest level
    level: 7

#    ignoreErrors:
#        - '#PHPDoc tag @var#( for variable \$[a-zA-Z0-9_]+)#? contains unresolvable type.#'
